@model IEnumerable<CS_HOSPITALARIO.Models.CS_HABITACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COD_HABITACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COD_HABITACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO_MODIFICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_MODIFICACION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HABITACION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HABITACION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HABITACION })
        </td>
    </tr>
}

</table>
