@model CS_HOSPITALARIO.Models.CS_CONSULTAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CS_CONSULTAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCTOR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCTOR_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZON_CONSULTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZON_CONSULTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_SERVICIO_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_SERVICIO_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_REGISTRO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NUM_CONSULTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
