@model CS_HOSPITALARIO.Models.CS_ADMISION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CS_ADMISION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_RECEPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_RECEPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEDIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEDIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATENDIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATENDIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIGNOS_VITALES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIGNOS_VITALES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_CATALOGO_DETALLE.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE1.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_CATALOGO_DETALLE1.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE2.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_CATALOGO_DETALLE2.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE3.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_CATALOGO_DETALLE3.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_PACIENTES.CLIENTE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_PACIENTES.CLIENTE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_USER.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_USER.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
