@model IEnumerable<CS_HOSPITALARIO.Models.CS_ADMISION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_RECEPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATENDIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIGNOS_VITALES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE1.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE2.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_CATALOGO_DETALLE3.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_PACIENTES.CLIENTE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CS_USER.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_RECEPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATENDIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_REGISTRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIGNOS_VITALES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_CATALOGO_DETALLE.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_CATALOGO_DETALLE1.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_CATALOGO_DETALLE2.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_CATALOGO_DETALLE3.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_PACIENTES.CLIENTE_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CS_USER.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ADMISION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ADMISION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ADMISION })
        </td>
    </tr>
}

</table>
