@model CS_HOSPITALARIO.Models.CS_MEDICOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CS_MEDICOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LICENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_ESPECIALIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ESPECIALIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBSERVACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSERVACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MEDICO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
