@model CS_HOSPITALARIO.Models.CS_SIGNOS_VITALES

<!-- The Modal -->

<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

    <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-row">
                        <label class="col-form-label fsz-lg color-secondary-h">
                            @Model.CS_ADMISION.CLIENTE.ALIAS
                        </label>
                        <div class="form-group ml-auto">
                            <label class="col-form-label fsz-lg color-secondary-m">
                                Admisión Nº:&nbsp;&nbsp; <span class="color-secondary-h">@Model.ADMISION_ID</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-row" style="margin-top:-35px !important">
                        <label class="col-form-label fsz-md color-secondary-m">
                            @ViewBag.TipoSeguro
                        </label>
                    </div>
                    <hr />

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Temperatura</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.TEMPERATURAC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TEMPERATURAC, "", new { @class = "text-danger" })
                                <span class="input-group-addon" id="basic-addon2">C°</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Estatura</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.ESTATURA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ESTATURA, "", new { @class = "text-danger" })
                                <span class="input-group-addon" id="basic-addon2">m</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Peso</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.PESOKG, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PESOKG, "", new { @class = "text-danger" })
                                <span class="input-group-addon" id="basic-addon2">kg</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>IMC</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.IMC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.IMC, "", new { @class = "text-danger" })
                                <span class="input-group-addon" id="basic-addon2">kg/m²</span>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Pulso</label>
                            <div class="">
                                @Html.EditorFor(model => model.PULSO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PULSO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Respiración</label>
                            <div class="">
                                @Html.EditorFor(model => model.RESPIRACION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.RESPIRACION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Saturación</label>
                            <div class="">
                                @Html.EditorFor(model => model.SATURACION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SATURACION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Glucometría</label>
                            <div class="">
                                @Html.EditorFor(model => model.GLUCOMETRIA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.GLUCOMETRIA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Presión Sistólica</label>
                            <div class="">
                                @Html.EditorFor(model => model.PSISTOLICA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PSISTOLICA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Presión Diastólica</label>
                            <div class="">
                                @Html.EditorFor(model => model.PDIASTOLICA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PDIASTOLICA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Perímetro Toráxico</label>
                            <div class="">
                                @Html.EditorFor(model => model.PERIMETRO_TORAXICO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PERIMETRO_TORAXICO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Perímetro Muñeca</label>
                            <div class="">
                                @Html.EditorFor(model => model.PERIMETRO_MUNECA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PERIMETRO_MUNECA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Perímetro Cefálico</label>
                            <div class="">
                                @Html.EditorFor(model => model.PERIMETRO_CEFALICO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PERIMETRO_CEFALICO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Perímetro Adbominal</label>
                            <div class="">
                                @Html.EditorFor(model => model.PERIMETRO_ABDOMINAL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PERIMETRO_ABDOMINAL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Hallazgo</label>
                            <div class="">
                                @Html.TextAreaFor(model => model.HALLAZGO, new { @class = "form-control ocupar-todo", @rows = 3, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HALLAZGO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

         <!-- Modal footer -->
                <div class="modal-footer">
                    @*<a href="@Url.Action("BorrarPacliente", "Admision")/@Model.CLIENTE_ID" class="btn btn-primary">Confirmar</a>*@
                    @*<input type="submit" value="Confirmar" class="btn btn-primary" />*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    @*@Html.ActionLink("Cancelar", "Pacientes", "Admision", null, new { @class = "btn btn-outline-secondary" })*@
                </div>
    </div>
</div>