@using Microsoft.AspNet.Identity
<style>
    .vl {
        border-left: 1px solid #234d6b;
        height: 65px;
    }
</style>
<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle"><i class="fas fa-bars"></i></a></li>
        </ul>
        <ul class="nav-right">
            @*<li id="notif-user" class="notifications dropdown">
                    <span class="counter bgc-red">3</span>
                    <a id="notificaciones-user" class="dropdown-toggle no-after" data-toggle="dropdown">
                        <i class="far fa-calendar-check"></i>
                    </a>
                    <ul id="notificaciones-user-view" class="dropdown-menu">
                        <li class="pX-20 pY-15 bdB"><i class="far fa-calendar-check pR-10"></i> <span class="fsz-sm fw-600 c-grey-900">Recordatorios de Agenda</span></li>
                        <li>
                            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                                <li>
                                    <a href="" class="peers fxw-nw td-n p-15 bdB c-grey-800 cH-blue bgcH-grey-100">
                                        <div class="peer mR-15">
                                            <img class="w-7/2r bdrs-50p" src="https://www.randomlists.com/img/people/adam_sandler.jpg"
                                                 alt="">
                                        </div>
                                        <div class="peer peer-greed">
                                            <span class="fw-500">Adam Sandler</span>
                                            <p class="m-0 c-grey-600">
                                                Chequeo del corazón
                                            </p>
                                            <span class="m-0"><small class="fsz-xs">07 Ene 2019, 03:00PM</small></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="peers fxw-nw td-n p-15 bdB c-grey-800 cH-blue bgcH-grey-100">
                                        <div class="peer mR-15">
                                            <img class="w-7/2r bdrs-50p" src="https://www.randomlists.com/img/people/ben_stiller.jpg"
                                                 alt="">
                                        </div>
                                        <div class="peer peer-greed">
                                            <span class="fw-500">Ben Stiller</span>
                                            <p class="m-0 c-grey-600">
                                                Tratamiento de riñones
                                            </p>
                                            <span class="m-0"><small class="fsz-xs">05 Ene 2019, 10:30AM</small></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="peers fxw-nw td-n p-15 bdB c-grey-800 cH-blue bgcH-grey-100">
                                        <div class="peer mR-15">
                                            <img class="w-7/2r bdrs-50p" src="https://www.randomlists.com/img/people/george_clooney.jpg"
                                                 alt="">
                                        </div>
                                        <div class="peer peer-greed">
                                            <span class="fw-500">George Clooney</span>
                                            <p class="m-0 c-grey-600">
                                                Análisis de Radiografías
                                            </p>
                                            <span class="m-0"><small class="fsz-xs">02 Ene 2019, 08:30AM</small></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="pX-20 pY-15 ta-c bdT">
                            <span>
                                <a href="" class="c-grey-600 cH-blue fsz-sm td-n">
                                    Ver Agenda &nbsp;<i class="fas fa-angle-right"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </li>*@
            <li id="user-actual" class="dropdown">
                <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                    <div class="peer mR-10">
                        <img class="w-5/2r bdrs-50p" src="@Url.Action("convertirImagen", "User", new {id_usuario =@User.Identity.GetUserId()})" alt="">
                    </div>
                    <div class="peer">
                        <span class="fsz-sm">
                            @User.Identity.GetUserName()&nbsp;
                        </span>
                    </div>
                </a>
                <ul id="user-act-opts" class="dropdown-menu fsz-sm">
                        <li><a href="@Url.Action("UserDetail", "User")" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="fas fa-user-circle mR-10"></i> <span>Mi Perfil</span></a></li>
                        @*<li class="disabled"><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="far fa-calendar-alt mR-10"></i> <span>Agenda</span></a></li>
                        <li class="disabled"><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="fas fa-cog mR-10"></i> <span>Configuración</span></a></li>*@
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index", "Login")" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="fas fa-sign-out-alt" style="color:#c0392b !important"></i> <span style="color:#c0392b !important">Salir</span></a></li>
                    </ul>
            </li>
            @*<li>
                <div class="vl"></div>
            </li>*@
            @*<li>               
                <a href="@Url.Action("Index", "Login")" class="notifications">
                    <i class="fas fa-sign-out-alt" style="color:#c0392b !important"></i>
                    <span style="color:#c0392b !important">Salir</span>
                </a>
            </li>*@
        </ul>
    </div>
</div>
