@model IEnumerable<CS_HOSPITALARIO.Models.CS_IMAGENOLOGIA>

<div class="bd bgc-white">
	<div class="layers">
		<div class="layer w-100 p-15 bg-color-secondary-m color-blanco">
			<h5 class="lh-1">Transcripciones Pendientes</h5>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="color-secondary-h" scope="col">Fecha</th>
					<th class="color-secondary-h" scope="col">Paciente</th>
					<th class="color-secondary-h" scope="col">Procedimiento</th>
					<th class="color-secondary-h" scope="col">Área de Servicio</th>
					<th class="color-secondary-h" scope="col">Estado</th>
					<th class="color-secondary-h" scope="col">Prioridad</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FECHA_REGISTRO, "{0:MM/dd/yyyy}")
					<td>
						@Html.DisplayFor(modelItem => item.CS_PACIENTES.NOMBRES) @Html.DisplayFor(modelItem => item.CS_PACIENTES.APELLIDOS)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.ARTICULO.DESCRIPCION)
					</td>
					<td>

                        @Html.DisplayFor(modelItem => item.CS_ADMISION.AREA_SERVICIO.DESCRIPCION)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.CS_CATALOGO_DETALLE1.DESCRIPCION)
					</td>
					
					<td>
						@{
							if ((bool)item.STAT)
							{
								<text>
									<span class="badge bg-color-info-m color-accent-h p-10 lh-0 tt-c badge-pill">
											Stat
									</span>
								</text>
							}
							else
							{
								<text>
									<span class="badge bg-color-light-m color-dark-h p-10 lh-0 tt-c badge-pill">
										Rutina
								   </span>
								</text>
							}
						}
					</td>
				</tr>
				}
			</tbody>
		</table>
		<div class="ta-c bdT w-100 p-15">
			<a class="btn btn-primary float-right" href="#">
				<i class="fas fa-plus-circle"></i>
				Nueva Transcripción
			</a>
			<a class="float-left" href="@Url.Action("Lista_Trabajo_Imagen", "Imagenologia")">Ver todas las órdenes &nbsp;<i class="fas fa-angle-right"></i></a>
		</div>
	</div>
</div>