@model CS_HOSPITALARIO.Models.CS_SIGNOS_VITALES
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-4 text-right">Paciente:</label>
        <div class="col-md-8">
            <input type="text" class="form-control" value="@ViewBag.PACIENTE" readonly />
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-4 text-right">N° Admisión:</label>
        <div class="col-md-8">
            <input id="ADMISION_ID" name="ADMISION_ID" type="text" class="form-control" value=@ViewBag.ADMISION_ID readonly />
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Temperatura:</label>
        <div class="input-group">
            @Html.EditorFor(model => model.TEMPERATURAC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TEMPERATURAC, "", new { @class = "text-danger" })
            <span class="input-group-addon" id="basic-addon2">C°</span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Estatura:</label>
        <div class="input-group">
            @Html.EditorFor(model => model.ESTATURA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ESTATURA, "", new { @class = "text-danger" })
            <span class="input-group-addon" id="basic-addon2">m</span>
        </div>
    </div>
</div>
<div class="row">
        <div class="form-group col-md-6">
            <label class="control-label col-md-6 text-right">Peso:</label>
            <div class="input-group">
                @Html.EditorFor(model => model.PESOKG, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.PESOKG, "", new { @class = "text-danger" })
                <span class="input-group-addon" id="basic-addon2">kg</span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-6 text-right">IMC:</label>
            <div class="input-group">
                @Html.EditorFor(model => model.IMC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IMC, "", new { @class = "text-danger" })
                <span class="input-group-addon" id="basic-addon2">kg/m²</span>
            </div>
        </div>
</div>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Pulso:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PULSO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PULSO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Respiración:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.RESPIRACION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.RESPIRACION, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Saturación:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.SATURACION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SATURACION, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Glucometría:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.GLUCOMETRIA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.GLUCOMETRIA, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-4 text-right">Presión Sistólica:</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.PSISTOLICA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PSISTOLICA, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-4 text-right">Presión Diastólica:</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.PDIASTOLICA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PDIASTOLICA, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Perímetro Toráxico:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PERIMETRO_TORAXICO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PERIMETRO_TORAXICO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Perímetro Muñeca:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PERIMETRO_MUNECA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PERIMETRO_MUNECA, "", new { @class = "text-danger" })
        </div>
    </div>
 </div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Perímetro Cefálico:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PERIMETRO_CEFALICO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PERIMETRO_CEFALICO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-6 text-right">Perímetro Abdominal:</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PERIMETRO_ABDOMINAL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PERIMETRO_ABDOMINAL, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="form-group col-md-12">
        <label class="control-label col-md-2 text-right">Hallazgo:</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.HALLAZGO, new { @class = "form-control ocupar-todo", @rows = 3, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.HALLAZGO, "", new { @class = "text-danger" })
        </div>
    </div>
</div>